html,
body {
    width: 100%;
    height: 100%;
    padding-top: 25px;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body * {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}


/* FILE MANAGER STYLES */

.navbar {
    margin-bottom: none;
}

.navbar-brand {
    background-color: #e5e5e5;
}

.navbar-brand img {
    width: 22px;
    height: auto;
}

/* END OF FILE MANAGER STYLES */
